<%- include('partials/header') %>
<div class="container w-50 checklist">
  <% for(let i = 0; i < question.length; i++){ %>
  <p><%= question[i] %></p>
  <form action="/checklist" method="POST">
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          id="q<%=i%>_0"
          name="<%=i%>"
          value="0"
        />
        <label class="form-check-label" for="q1_0">0</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          id="<%=i%>_1"
          name="<%=i%>"
          value="1"
        />
        <label class="form-check-label" for="q1_1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          id="<%=i%>_2"
          name="<%=i%>"
          value="2"
        />
        <label class="form-check-label" for="q1_2">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          id="<%=i%>_3"
          name="<%=i%>"
          value="3"
        />
        <label class="form-check-label" for="q1_3">3</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          id="<%=i%>_4"
          name="<%=i%>"
          value="4"
        />
        <label class="form-check-label" for="q1_4">4</label>
      </div>
    </div>
  <%}%>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>
<%- include('partials/footer') %>
