<% layout('layouts/boilerplate')%>

  <div class="container mt-3">
    <div class="d-inline-flex">
      <h1 class="flex-grow-1">Previous entries</h1>
    </div>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Comment</th>
          <th scope="col">Total</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 1; i <= checklists.length; i++) {%>
        <tr>
          <th scope="row"><%= i %></th>
          <td><%= checklists[i - 1].dateAdded.toDateString() %></td>
          <td><%= checklists[i - 1].comment %></td>
          <td><%= checklists[i - 1].total %></td>
          <td>
            <div class="btn-group" role="group">
              <a
                class="btn btn-success btn-sm"
                href="/checklists/<%= checklists[i - 1]._id%>/edit"
                role="button"
                >Edit</a
              >
              <form
                method="POST"
                action="/checklists/<%= checklists[i - 1]._id%>?_method=DELETE"
                class="form-inline"
              >
                <button type="submit" class="btn btn-danger btn-sm ms-1">
                  Delete
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <a class="btn btn-lg btn-primary" href="/checklists/new" role="button"
        >Add new</a
      >
  </div>

