<% layout('layouts/boilerplate')%>
<div class="container">
  <div class="container bg-light p-4">
    <h1>Instructions</h1>
    <p class="lead mt-2">
      Put a check to indicate how much you have experienced each symptom during
      the past week, including today. <br />
      Please answer all 25 items.
    </p>
    <ul class="list-inline mt-2">
      <li class="list-inline-item text-muted">0 = not at all</li>
      <li class="list-inline-item text-muted">1 = somewhat</li>
      <li class="list-inline-item text-muted">2 = moderately</li>
      <li class="list-inline-item text-muted">3 = a lot</li>
      <li class="list-inline-item text-muted">4 = extremely</li>
    </ul>
  </div>
  <form action="/checklists" method="POST" class="needs-validation" novalidate>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Questions</th>
          <th scope="col">Responses</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 1; i <= questions.length; i++){ %>
        <tr>
          <th scope="row"><%=i%></th>
          <td><%= questions[i-1] %></td>
          <td>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="q<%=i%>_0"
                  name="q<%=i%>"
                  value="0"
                  required
                />
                <label class="form-check-label" for="q1_0">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="<%=i%>_1"
                  name="q<%=i%>"
                  value="1"
                  required
                />
                <label class="form-check-label" for="q<%=i%>_1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="<%=i%>_2"
                  name="q<%=i%>"
                  value="2"
                  required
                />
                <label class="form-check-label" for="q<%=i%>_2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="<%=i%>_3"
                  name="q<%=i%>"
                  value="3"
                  required
                />
                <label class="form-check-label" for="q<%=i%>_3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="<%=i%>_4"
                  name="q<%=i%>"
                  value="4"
                  required
                />
                <label class="form-check-label" for="q<%=i%>_4">4</label>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <textarea
      class="form-control"
      id="comment"
      rows="3"
      name="comment"
      placeholder="Add a comment"
    ></textarea>
    <button class="btn btn-lg btn-primary my-3" type="submit">Submit</button>
  </form>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
